<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">© Copyright 2014 Roommate Finder</p>

<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/javascripts/gservice.js"></script>