<div class="mainWrapper" ng-cloak>
    <nav class="navbar navbar-default header" role="navigation">
        <div class="container-fluid">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    MovIn
                </a>
            </div>
            <div class="nav pull-right" ng-show="user != undefined">
                <ul class="nav navbar-nav">
                    <li><a href="#/search">Search</a></li>
                    <li><a href="#/profile">Welcome {{user.name}}</a></li>
                    <li><a ng-click="logOut()"><i class="fa fa-lock fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="pull-right" ng-show="user === undefined">
                <ul class="nav navbar-nav">
                    <li><a href="#/signup">Register</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <div class="searchTemplate">
        <div class="text-vertical-center">
            <!-- <div class="input-group searchBox">
               <input type="text" class="form-control" placeholder="Search this site">
               <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
               </span>
            </div> -->
            <form class="form-search" role="search" ng-submit="queryUsers()">
                <div class="input-group searchBox">
                    <input type="text" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" address="formData.address" location="formData.location" placeholder="Enter Location"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>