<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
    <div class="row">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                &nbsp;<span class="glyphicon glyphicon glyphicon-home"></span>
                MovIn
            </a>
        </div>
        <div class="nav pull-right">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav pull-right" ng-show="user === undefined">
                <li><a href="#/login" class="btn" alt="Login">Login</i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user === undefined">
                <li><a href="#/signup" class="btn" alt="Register">Register</i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user != undefined">
                <li><a href ng-click="logOut()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user != undefined">
                <li><a href="#/profile" class="btn">Welcome {{user.name}}</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<header class="mainHeader">
    <div class="searchTemplate">
        <div class="text-vertical-center">
            <h1 class="searchTitle">Find a Place & MovIn!</h1>
            <form class="shadow col-xs-8 col-md-7 col-lg-6 col-xs-offset-2 col-md-offset-3" role="search" ng-submit="queryUsers()">
                <div class="input-group searchBox">
                    <input type="text" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" address="formData.address" location="formData.location" placeholder="Enter Location"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</header>