<div ng-cloak>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Roommate Finder
                </a>
            </div>
            <div class="pull-right" ng-show="user != undefined">
                <ul class="nav navbar-nav">
                    <li><a href="#/profile">Welcome {{user.name}}</a></li>
                    <li><a ng-click="logOut()" class="btn btn-default">Logout</a></li>
                </ul>
            </div>
            <div class="pull-right" ng-show="user === undefined">
                <ul class="nav navbar-nav">
                    <li><a href="#/signup">Register</a></li>
                    <li><a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="searchTemplate">
    <div class="text-vertical-center">
        
    </div>
</div>