<header class="header">
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <a class="navbar-brand navbar-left" href="#/">
                &nbsp;<span class="glyphicon glyphicon glyphicon-home"></span>
                MovIn
            </a>
            <form class="navbar-form navbar-left" role="search" ng-submit="queryUsers()">
                <div class="input-group">
                    <input type="text" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" address="formData.address" location="formData.location" placeholder="Enter Location"/>
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </form>
            <ul class="nav navbar-nav pull-right" ng-show="user === undefined">
                <li><a href="#/login" class="btn" alt="Login">Login</i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user === undefined">
                <li><a href="#/signup" class="btn" alt="Register">Register</i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user != undefined">
                <li><a href="#/profile" class="btn">Welcome {{user.name}}</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user != undefined">
                <li><a href ng-click="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>
<section class="container-fluid mapDiv">
    <div class="col-sm-4 col-md-2 filter-options">
        <div class="list-group">
            <form role="form">
                <!-- <div class="form-group" ng-class="{smartSearchInfo : user === undefined}">
                    <div ng-show="user === undefiend">
                        You need to be Logged-In to use this feature!
                    </div>
                    <label for="SmartSearch">Smart Search</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="Yes" ng-model="smartSearch.yes" ng-change="checkValue(smartSearch)" ng-disabled="user === undefined"><i class="fa fa-check fa-2x"></i>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="No" ng-model="smartSearch.no" ng-change="checkValue(smartSearch)" ng-disabled="user === undefined"><i class="fa fa-close fa-2x"></i>
                    </label>
                </div> -->
                <div class="form-group">
                    <label for="distance">Max. Distance (miles)</label>
                    <input type="number" class="form-control" id="distance" placeholder="1" min="0" ng-model="formData.distance" ng-change="queryUsers()" ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group">
                    <div class="input-group-addon">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="listingRadio" value="subLease" ng-model="formData.subLease" ng-change="queryUsers()">Sub-Lease
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="listingRadio" value="lease" ng-model="formData.lease"  ng-change="queryUsers()">Lease
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group-addon">
                        <label for="gender" class="checkbox-inline control-label">Gender </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkmale" value="Male" ng-model="formData.male" ng-change="queryUsers()"><i class="fa fa-male fa-2x"></i>
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="optionsRadios" id="checkfemale" value="Female" ng-model="formData.female"  ng-change="queryUsers()"><i class="fa fa-female fa-2x"></i>
                        </label>
                    </div>
                </div>
                <h4 class="separation text-center">Amenities</h4>
                <div class="form-group">
                    <label for="Pool" class="sr-only">Pool</label>
                    <div class="input-group-addon">
                        <!-- <div class="input-group-addon"> -->
                        <label class="radio-inline control-label">Pool</label>
                        <label class="radio-inline">
                            <input type="radio" name="pool" value="1" ng-model="formData.pool" ng-change="queryUsers()">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="pool" value="0" ng-model="formData.pool" ng-change="queryUsers()">No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rooftop" class="sr-only">Roof-Top</label>
                    <div class="input-group-addon">
                        <!-- <div class="input-group-addon"> -->
                        <label class="radio-inline control-label">Roof-Top</label>
                        <label class="radio-inline">
                            <input type="radio" name="rooftop" value="1" ng-model="formData.rooftop"/ ng-change="queryUsers()">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="rooftop" value="0" ng-model="formData.rooftop" ng-change="queryUsers()">No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="laundry" class="sr-only">Laundry</label>
                    <div class="input-group-addon">
                        <!-- <div class="input-group-addon"> -->
                        <label class="radio-inline control-label">Laundry</label>
                        <label class="radio-inline">
                            <input type="radio" name="laundry" value="1" ng-model="formData.laundry" ng-change="queryUsers()">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="laundry" value="0" ng-model="formData.laundry" ng-change="queryUsers()">No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ac_heater" class="sr-only">AC</label>
                    <div class="input-group-addon">
                        <!-- <div class="input-group-addon"> -->
                        <label class="radio-inline control-label">AC</label>
                        <label class="radio-inline">
                            <input type="radio" name="ac_heater" value="1" ng-model="formData.ac_heater" ng-change="queryUsers()">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="ac_heater" value="0" ng-model="formData.ac_heater" ng-change="queryUsers()">No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fridge" class="sr-only">Fridge</label>
                    <div class="input-group-addon">
                        <!-- <div class="input-group-addon"> -->
                        <label class="radio-inline control-label">Fridge</label>
                        <label class="radio-inline">
                            <input type="radio" name="fridge" value="1" ng-model="formData.fridge" ng-change="queryUsers()">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="fridge" value="0" ng-model="formData.fridge" ng-change="queryUsers()">No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="microwave" class="sr-only">Microwave</label>
                    <div class="input-group-addon">
                        <!-- <div class="input-group-addon"> -->
                        <label class="radio-inline control-label">Microwave</label>
                        <label class="radio-inline">
                            <input type="radio" name="microwave" value="1" ng-model="formData.microwave" ng-change="queryUsers()">Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="microwave" value="0" ng-model="formData.microwave" ng-change="queryUsers()">No
                        </label>
                    </div>
                </div>
            </form>
        </div>  
    </div>
    
    <div class="col-sm-8 col-md-10 maps">
        <div my-map="" longitude="longitude" latitude="latitude" id="map" marks="marks" distance="distance" hit-me="hitMe"></div>
    </div>
</section>
<modal title="Listing Details" visible="showModal">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
            </div>
            <div class="col-sm-5 col-md-4">
                <h3>Description</h3>
                <p>{{listingData.description}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="well text-center" ng-show="!user">
                    Please <a href ng-click='gotoLogin()'>login </a> to contact Owner! 
                </div>
                <div class="well text-center" ng-show="user">
                    <a class="btn btn-default contactBtn" href="mailto:{{user.email}}"> <i class="fa fa-pencil-square-o"></i> Contact Owner</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <h3>Listing Details</h3>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td><b>Apartment Number</b></td>
                            <td>{{listingData.aptNo}}</td>
                        </tr>
                        <tr>
                            <td><b>Rent</b></td>
                            <td>${{listingData.rent}}</td>
                        </tr>
                        <tr>
                            <td><b>Utilities Included</b></td>
                            <td ng-show="listingData.utilities_included">Yes</td>
                            <td ng-show="!listingData.utilities_included">No</td>
                        </tr>
                        <tr>
                            <td><b>Number of Rooms</b></td>
                            <td>{{listingData.no_rooms}}</td>
                        </tr>
                        <tr>
                            <td><b>Baths Available</b></td>
                            <td>{{listingData.baths}}</td>
                        </tr>
                        <tr>
                            <td><b>Sq. Ft</b></td>
                            <td ng-show="listingData.sq_ft">{{listingData.sq_ft}}</td>
                            <td ng-show="!listingData.sq_ft">N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 col-md-4">
                <h3>Amenities</h3>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td><b>Pool</b></td>
                            <td ng-show="listingData.pool">Yes</td>
                            <td ng-show="!listingData.pool">No</td>
                        </tr>
                        <tr>
                            <td><b>Roof-Top</b></td>
                            <td ng-show="listingData.rooftop">Yes</td>
                            <td ng-show="!listingData.rooftop">No</td>
                        </tr>
                        <tr>
                            <td><b>Laundry</b></td>
                            <td ng-show="listingData.laundry">Yes</td>
                            <td ng-show="!listingData.laundry">No</td>
                        </tr>
                        <tr>
                            <td><b>AC/Heater</b></td>
                            <td ng-show="listingData.ac_heater">Yes</td>
                            <td ng-show="!listingData.ac_heater">No</td>
                        </tr>
                        <tr>
                            <td><b>Fridge</b></td>
                            <td ng-show="listingData.fridge">Yes</td>
                            <td ng-show="!listingData.fridge">No</td>
                        </tr>
                        <tr>
                            <td><b>Microwave</b></td>
                            <td ng-show="listingData.microwave">Yes</td>
                            <td ng-show="!listingData.microwave">No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 col-md-4">
                <h3>Location</h3>
                <img width="350" height="200" ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{listingData.address}}&zoom=13&scale=false&size=350x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C{{listingData.address}}">
            </div>
        </div>    
    </div>
</modal>
<modal title="Login" visible="loginShowModal">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-3">
            <div class="login-block">
                <form class="form-signin" ng-submit="login(formData.email, formData.password)">
                <label for="email" class="sr-only">Email</label>
                <input type="text" ng-model="formData.email" id="email" class="form-control" required autofocus placeholder="Email">
                
                <label for="password" class="sr-only">Password</label>
                <input type="password" ng-model="formData.password" id="password" class="form-control" placeholder="Password">
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Login</button>
                <!-- <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form> -->
            </div>
            <a href="#/signup" class="text-center new-account">Create an account </a>
        </div>
    </div>
    <div ng-show="message" class="error-alert alert-warning error-box col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4" role="alert">
        <p class="text-danger text-center">
            <i class="fa fa-exclamation-circle fa-2x"></i>
            <b>{{message}}</b>
        </p>
    </div>
</modal>