<header clas"header">
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <a class="navbar-brand navbar-left" href="#/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                MovIn
            </a>
            <form class="navbar-form navbar-left" role="search" ng-submit="queryUsers()">
                <div class="input-group">
                    <input type="text" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" address="formData.address" location="formData.location" placeholder="Enter Location"/>
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </form>
            <ul class="nav navbar-nav pull-right" ng-show="user === undefined">
                <li><a href="#/login" class="btn" alt="Login">Login</i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user === undefined">
                <li><a href="#/signup" class="btn" alt="Register">Register</i></a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user != undefined">
                <li><a href="#/profile" class="btn">Welcome {{user.name}}</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right" ng-show="user != undefined">
                <li><a href ng-click="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>
<section class="container-fluid mapDiv">
    <div class="col-sm-3 col-lg-2 filter-options">
        <div class="list-group">
            <form role="form">
                <div class="form-group">
                    <label for="distance">Max. Distance (miles)</label>
                    <input type="number" class="form-control" id="distance" placeholder="1" min="0" ng-model="formData.distance" ng-change="queryUsers()" ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group">
                    <div class="dropdown">
                        <label for="distance">Search Filter</label>
                        <button class="btn btn-info dropdown-toggle dropdownBtn" type="button" data-toggle="dropdown">Smart Search
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">HTML</a></li>
                          <li><a href="#">CSS</a></li>
                          <li><a href="#">JavaScript</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Gender </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkmale" value="Male" ng-model="formData.male" ng-true-value = "'Male'" ng-change="queryUsers()"><i class="fa fa-male fa-2x"></i>
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkfemale" value="Female" ng-model="formData.female" ng-true-value="'Female'" ng-change="queryUsers()"><i class="fa fa-female fa-2x"></i>
                    </label>
                    <!-- </div> -->
                </div>
                <div class="form-group">
                    <label for="minage">Min. Age</label>
                    <input type="number" class="form-control" id="minage" placeholder="18" ng-model="formData.minage" min="18" ng-change="queryUsers()" ng-model-options="{ debounce: 500 }">
                </div>
                <div class="form-group">
                    <label for="maxage">Max Age</label>
                    <input type="number" class="form-control" id="maxage" placeholder="80" ng-model="formData.maxage" min="18" ng-change="queryUsers()" ng-model-options="{ debounce: 500 }">
                </div>
            </form>
        </div>  
    </div>
    <modal title="Login form" visible="showModal">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
                  <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Listing Details</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class=" col-md-11 col-lg-11 "> 
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Address:</td>
                                        <td>{{place}}</td>
                                    </tr>
                                    <tr>
                                        <td>Rent</td>
                                        <td>${{listingData.rent}}</td>
                                    </tr>
                                    <tr>
                                        <td>Number of Rooms:</td>
                                        <td>{{listingData.no_rooms}}</td>
                                    </tr>
                                    <tr>
                                        <td>Baths Available</td>
                                        <td>{{listingData.baths}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </modal>
    <div class="col-lg-10 col-sm-9 maps">
        <div id="map" class="container"></div>
    </div>
</section>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-2x"></i></a>
                    </li>
                </ul>
                <p class="text-muted">Copyright &copy;2016 MovIn</p>
            </div>
        </div>
    </div>
</footer>
