<div class="wrapper">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="row">
                <a class="navbar-brand navbar-left" href="#/">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    Roommate Finder
                </a>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#/login" class="btn">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
		<div class="container">
		<!-- Creates Main Panel -->
			<form class="form-signin" ng-submit="register(formData)" novalidate>	
				<div class="row">
					<div class="col-sm-6 col-md-6">
			        	<div class="form-group">
				        	<label for="firstname" class="sr-only">Name</label>
				        	<div class="input-group">
		                        <div class="input-group-addon">
						        	<i class="fa fa-user fa-2x"></i>
						        </div>
						        <input type="text" id="firstname" ng-model="formData.name" class="form-control" placeholder="Name" required autofocus>
					    	</div>
					    </div>

					    <div class="form-group">
					        <label for="email" class="sr-only">E-mail</label>
					        <div class="input-group">
		                        <div class="input-group-addon">
							        <i class="fa fa-envelope fa-2x"></i>
							    </div>
							        <input type="email" id="email" ng-model="formData.email" class="form-control" placeholder="E-mail" required>
							</div>
						</div>
				        
				        <div class="form-group">
					        <label for="password" class="sr-only">Password</label>
					        <div class="input-group">
		                        <div class="input-group-addon">
							        <i class="fa fa-barcode fa-2x"></i>
							    </div>
					        		<input type="password" ng-model="formData.password" id="password" class="form-control" placeholder="Password" required>
					        </div>
					    </div>
				        
				        <div class="form-group">
				        	<label for="password" class="sr-only">address</label>
							<div class="input-group">
		                        <div class="input-group-addon">
							        <i class="fa fa-map-marker fa-2x"></i>
							    </div>
							    	<input type="text" col="10" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" address="formData.address" location="formData.location" placeholder="Address"/>
							</div>
						</div>
						
						<div class="form-group ">
					        <label for="gender" class="sr-only">Gender</label>
					        <div class="input-group col-sm-3">
		                        <div class="input-group-addon">
							        <label class="radio control-label">Gender</label>
							        <i class="fa fa-male fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
							        <i class="fa fa-female fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
							    </div>
					        </div>
					    </div>

<!-- 					    <div class="form-group ">
					        <label for="gender" class="sr-only">Gender</label>
					        <div class="input-group col-sm-3">
		                        <div class="input-group-addon">
							        <label class="radio control-label">Gender</label>
							        <i class="fa fa-male fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
							        <i class="fa fa-female fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
							    </div>
					        </div>
					    </div>

					    <div class="form-group ">
					        <label for="gender" class="sr-only">Gender</label>
					        <div class="input-group col-sm-3">
		                        <div class="input-group-addon">
							        <label class="radio control-label">Gender</label>
							        <i class="fa fa-male fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
							        <i class="fa fa-female fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
							    </div>
					        </div>
					    </div> -->
					</div>
					<!-- <div class="col-sm-6 col-md-6">
			        	<div class="form-group">
				        	<label for="firstname" class="sr-only">Name</label>
				        	<div class="input-group">
		                        <div class="input-group-addon">
						        	<i class="fa fa-user fa-2x"></i>
						        </div>
						        <input type="text" id="firstname" ng-model="formData.name" class="form-control" placeholder="Name" required autofocus>
					    	</div>
					    </div>

					    <div class="form-group">
					        <label for="email" class="sr-only">E-mail</label>
					        <div class="input-group">
		                        <div class="input-group-addon">
							        <i class="fa fa-envelope fa-2x"></i>
							    </div>
							        <input type="email" id="email" ng-model="formData.email" class="form-control" placeholder="E-mail" required>
							</div>
						</div>
				        
				        <div class="form-group">
					        <label for="password" class="sr-only">Password</label>
					        <div class="input-group">
		                        <div class="input-group-addon">
							        <i class="fa fa-barcode fa-2x"></i>
							    </div>
					        		<input type="password" ng-model="formData.password" id="password" class="form-control" placeholder="Password" required>
					        </div>
					    </div>
				        
				        <div class="form-group">
				        	<label for="password" class="sr-only">address</label>
							<div class="input-group">
		                        <div class="input-group-addon">
							        <i class="fa fa-map-marker fa-2x"></i>
							    </div>
							    	<input type="text" col="10" class="form-control" g-places-autocomplete options="autocompleteOptions" ng-model="place" address="formData.address" location="formData.location" placeholder="Address"/>
							</div>
						</div>
						
						<div class="form-group ">
					        <label for="gender" class="sr-only">Gender</label>
					        <div class="input-group col-sm-3">
		                        <div class="input-group-addon">
							        <label class="radio control-label">Gender</label>
							        <i class="fa fa-male fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
							        <i class="fa fa-female fa-2x"></i>
							        <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
							    </div>
					        </div>
					    </div>
					</div>
				</div> -->
				<div class="row text-vertical-center">
					<div class="input-group col-sm-3">
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign-Up</button>
					</div>
				</div>
	      	</form>

		  	<!-- <div class="row">
			    <div class="center-block text-center">
					<a href="/oauth/facebook">Login with Facebook</a> |
					<a href="/oauth/twitter">Login with Twitter</a>
				</div>
			</div> -->
		</div>
	</section>
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small linesmall">
                <p class="text-muted">Copyright &copy;2016 RoommateFinder</p>
            </div>
        </div>
    </div>
</footer>