<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/components/components-font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/autocomplete.css" />
  </head>
  <body ng-cloak>
    <ng-view></ng-view>
   <!-- Libraries -->
	<script src="/components/jquery/dist/jquery.js"></script>
	<script src="/components/bootstrap/dist/js/bootstrap.js"></script>
	<script src='/components/lodash/dist/lodash.min.js'></script>
	<script src="/components/angular/angular.js"></script>
	<script src="/components/angular-animate/angular-animate.js"></script>
	<script src="/components/angular-cookies/angular-cookies.js"></script>
	<script src="/components/angular-resource/angular-resource.js"></script>
	<script src="/components/angular-route/angular-route.js"></script>
	<script src="/components/angular-sanitize/angular-sanitize.js"></script>
	<script src="/components/angular-touch/angular-touch.js"></script>
	<script src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDp7z3EFQ6nAPqLEZPrhH--RVcOc-nRUoY'></script>
	<script src='/components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
	<script src='/components/angular-google-maps/dist/angular-google-maps.min.js'></script>

	<script src="/app.js"></script>
	<script src="/controllers/main.js"></script>
	<script src="/controllers/loginCtrl.js"></script>
	<script src="/controllers/signupCtrl.js"></script>
	<script src="/controllers/profileCtrl.js"></script>
	<script src="/controllers/mainCtrl.js"></script>
	<script src="/javascripts/userService.js"></script>
	<script src="/javascripts/gservice.js"></script>
	<script src="/controllers/queryCtrl.js"></script>
	<script src="/javascripts/autocomplete.js"></script>
  </body>
</html>
