html, body {
	width: 100%;
	height: 100%;
	/*padding: 10px;*/
	font: 13px;
    font-family: 'Open Sans', sans-serif;
}


.myProfile {
  padding: 60px 15px 0;
  /*margin-bottom: 100px;*/
  height: auto !important; /*Cause footer to stick to bottom in IE 6*/
  /*height: 100%; */
  /*margin: 0 auto -5%; Allow for footer height*/
  vertical-align:bottom;
  margin-bottom: 50px;
}

.searchTemplate {
	display: table;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.searchTitle {
    font-weight: bold;
    font-size: 55px;
    color: #000;
    padding-bottom: 10px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    /*font-weight: 700;*/
}

.mainHeader {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/images/body-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header{
    background-color: #3366cc;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .text-muted {
    color: #fff;
}

.mainWrapper {
    /*margin-bottom: 150px;*/
    height: 100%;
    /*overflow: auto;*/
}

.loginWrapper {
    /*margin-bottom: 150px;*/
    overflow: auto;
}

.wrapper {
    /*margin-bottom: 150px;*/
    overflow: auto;
}
/* Footer */

.footer {
    /*padding: 50px 0;*/
    background-color: #3366cc;
    padding: 5px;
    width: 100%;
    /*border-top: 1px solid #3366cc;*/
    position: fixed;
    bottom: 0; 
    height: 30px;
    z-index: 50;
}

.mainFooter {
    background-color: #f7f7f7;
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    width: 100%;
}

.form-signin
{
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin  > input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin > input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 50px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-weight: 400;
    display: block;
}

.loginLine {
    width: 80%;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
    color: #3366cc;
}

.new-account a:hover {
    text-decoration: none;
    color: #D6D6D6;
}

.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
    margin: 30px auto;
}

.login-block {
    /*width: 100%;*/
    /*min-height: 200px;*/
    padding: 20px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #3366cc;
    border-top: 5px solid #3366cc;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #3366cc;
}

.login-block button {
    border: 1px solid #3366cc;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #D8D8D8;
    color: #000;
}

.box {
    max-width: 400px;
    /*position: fixed;*/
    margin: auto;
    padding: 10px;
 }

.filter-options {
    float: left;
    background: #fff;
    /*min-height: 20%;*/
    margin-top: 10px;
    /*min-height: 100%;*/
}

#map { 
    /*min-height: 500px; */
    width: 100%;
    margin-right: 5px;
    height: 100%;
    border: 1px solid #3366cc;
    background-color: rgb(229, 227, 223);
}

.maps {
    padding: 0;
    height: 100%;
    /*margin-right: 5px;*/
    /*padding-bottom: 180px;*/
}

.searchBox {
    padding-left: 0;
    padding-right: 0;
}

.mapDiv {
    padding-left: 0;
    padding-right: 5px;
    height: 100%;
}

@media (max-width: 1440px) {
    .mapDiv {
        max-height: 89%;
        width: auto;
    }
}

@media (min-width: 1920px) {
    .mapDiv {
        max-height: 91%;
        width: auto;
    }
}
.error-box {
    margin-top: 10px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #D0021B;
    border-top: 5px solid #D0021B;
}

.toppad {
    margin-top:20px;
    /*margin-bottom: 50px;*/
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    /*width: 40px;*/
    border: 1px solid #3366cc;
    white-space: nowrap;
}

.infoBox {
    height: 30px;
    padding: 1px;
}

.personInfo, .listingInfo {
    height: auto;
    width: 90px;
    background-color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #3366cc;*/
    cursor: pointer;
}

.personInfo > *, .listingInfo > * {
    cursor: pointer;
}

.personInfo:hover, .listingInfo:hover {
    background-color: #D6C7A5;
}

/*.personInfo:active {
    background-color: #000;
}*/

#radiomale, #radiofemale {
    display: none;
}

#radiomale:checked + i.fa {
    color: #3366cc;
}

#radiofemale:checked + i.fa {
    color: #3366cc;
}

.personInfo input[type="checkbox"] {
    display: none;
}

.listingInfo input[type="checkbox"] {
    display: none;
}

.desc {
    padding-top: 5px;
}

.personInfo input[type="checkbox"]:checked + label {
    color: #fff;
}

.whiteFA {
    color: #fff;
}
.listingInfo input[type="checkbox"]:checked + label {
    color: #fff;
}

.highlightPersonInfo {
    height: auto;
    width: 90px;
    background-color: #3366cc;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #3366cc;*/
    cursor: pointer;
}

.highlighListingInfo {
    height: auto;
    width: 90px;
    background-color: #3366cc;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #3366cc;*/
    cursor: pointer;
}

.highlightPersonInfo > * {
    cursor: pointer;   
}

.saveBtn {
    vertical-align: middle;
}

.optionsRadios > input {
    display: none;
}

.optionsRadios > input:checked + i.fa {
    color: #3366cc;
}

.dropdownBtn {
    background: #fff;
    color: #3366cc;
    border: 1px solid #3366cc;
}

.filterRange {
  margin-top: 4px;
  padding: 4px;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  background-color: #3366cc;
  color: #fff;
}

.listingImg{
  max-height: 400px;
  margin:auto;
  width: auto;
  /*max-height: 500px;*/
}
#slides_control {
  position:absolute;
  width: auto;
  max-height: 500px;
  /*height: 300px;*/
  left:50%;
  top:20px;
  /*margin-left:-200px;*/
}

.carousel-control.right {
    background-color: #fff;
    font-weight: bold;
}

.smartSearchInfo {
    /*font-size: 11px;*/
    /*font-weight: bold;*/
    border: 1px solid #3366cc;
    border-radius: 4px;
    padding: 5px;
}

.separation {
    border: 1px solid #3366cc;
    color: #000;
    background-color: #D8D8D8;
    border-radius: 4px;

}

.control-label {
    padding-left: 0;
}

.navbar-default {
    background-color: #3366cc;
}

.navbar {
    margin-bottom: 5px;
}
.navbar-default .navbar-brand:hover {
    color: #fff;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.carousel-control .glyphicon-chevron-right,.carousel-control .glyphicon-chevron-left {
    color: #3366cc;
    font-size: 44px;
}


.panel-warning > .panel-heading {
    color: #fff;
    background-color: #3366cc;
    border-color: #3366cc;
}

.panel-warning {
    border-color: #3366cc;   
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #3366cc;
}

.contactBtn {
    background-color: #3366cc;
    color: #fff;
}

.contactBtn:hover {
    background-color: #D6654D;
    color: #fff;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.flags {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
    cursor: pointer;
}

.flags #approve, #flag, #delete {
    opacity: .6;
}

.flags #approve:hover, #flag:hover, #delete:hover {
    opacity: 1;
}

.saveBtn {
    color: #000;
    background-color: #fff;
}

.images {
   padding: 5px;
}

.panel-group .panel {
      overflow: visible;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .text-muted {
    margin-right: 5px;
}

.modal-dialog {
    padding: 30px 30px 30px 30px;
    text-align: center;
    width: 100%;
}


.edit-title {
    border: 1px solid #3366cc;
    padding: 5px 5px;
    background-color: #3366cc;
    color: #fff;
}

.infoWindowHolder {
    height: 28px;
}

.jp-next {
    float: right;
}

.jp-previous {
    float: left;
}

a:hover {
    text-decoration: none;
}

.fa-arrow-circle-o-left, .fa-arrow-circle-o-right {
    cursor: pointer;
}