html, body {
	width: 100%;
	height: 100%;
	/*padding: 10px;*/
	font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.searchTemplate {
	background: url(/images/body-bg.jpg) no-repeat center center scroll;
	display: table;
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar {
	margin-bottom:0; 
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    /*font-weight: 700;*/
}

.header {
    border-bottom: 1px solid #ff656c;
    padding: 0;
}

.mapwrapper {
    margin-bottom: 150px;
    height: 76%;
}

.mainWrapper {
    /*margin-bottom: 150px;*/
    height: 100%;
    overflow: auto;
}

.loginWrapper {
    margin-bottom: 150px;
    overflow: auto;
}

.wrapper {
    margin-bottom: 150px;
    overflow: auto;
}
/* Footer */

.footer {
    /*padding: 50px 0;*/
    background-color: #f7f7f7;
    padding: 10px 0 5px;
    color: #999;
    border-top: 1px solid #ff656c;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    /*height: 120px;*/
}

.form-signin
{
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin  > input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin > input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 50px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
    color: #ff656c;
}

.new-account a:hover {
    text-decoration: none;
    color: #D6D6D6;
}

.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
    margin: 30px auto;
}

.login-block {
    /*width: 100%;*/
    /*min-height: 200px;*/
    padding: 20px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #ff656c;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    border: 1px solid #ff656c;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}

.box {
    max-width: 400px;
    /*position: fixed;*/
    margin: auto;
    padding: 10px;
 }

#map, .angular-google-map-container { 
    /*min-height: 500px; */
    width: 100%;
    margin-right: 5px;
    height: 100%;
    border: 1px solid #ff656c;
}

.filter-options {
    float: left;
    background: #fff;
    /*min-height: 20%;*/
    margin-top: 10px;
    /*min-height: 100%;*/
}

.maps {
    padding: 5px;
    height: 100%;
    /*padding-bottom: 180px;*/
}

.searchBox {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 2px;
    width: 80%;
    display: inline-table;
}

.mapDiv {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

.error-box {
    margin-top: 10px;
    padding: 10px;
    background: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #D0021B;
    border-top: 5px solid #D0021B;
}

.toppad {
    margin-top:20px;
}

@media (min-height: 1024px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .mainWrapper {
    min-height: 93%;
  }
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    /*width: 40px;*/
    border: 1px solid #ff656c;
    white-space: nowrap;
}

.infoBox {
    height: 30px;
    padding: 1px;
}

.personInfo {
    height: auto;
    width: 90px;
    background-color: #D6D6D6;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #ff656c;*/
    cursor: pointer;
}

.personInfo > * {
    cursor: pointer;
}

.personInfo:hover {
    background-color: #D6C7A5;
}

/*.personInfo:active {
    background-color: #000;
}*/

#radiomale, #radiofemale {
    display: none;
}

#radiomale:checked + i.fa {
    color: #ff656c;
}

#radiofemale:checked + i.fa {
    color: #ff656c;
}

.personInfo input[type="checkbox"] {
    display: none;
}

.desc {
    padding-top: 5px;
}

input:checked + label {
    color: #fff;
}

.highlightPersonInfo {
    height: auto;
    width: 90px;
    background-color: #ff656c;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    /*border: 1px solid #ff656c;*/
    cursor: pointer;
}

.highlightPersonInfo > * {
    cursor: pointer;   
}

.saveBtn {
    vertical-align: middle;
}

.optionsRadios > input {
    display: none;
}

.optionsRadios > input:checked + i.fa {
    color: #ff656c;
}