    /*
    Flaticon icon font: Flaticon
    Creation date: 18/03/2016 11:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-balloons:before { content: "\f100"; }
.flaticon-beer:before { content: "\f101"; }
.flaticon-bell:before { content: "\f102"; }
.flaticon-boy:before { content: "\f103"; }
.flaticon-bubbles:before { content: "\f104"; }
.flaticon-cake:before { content: "\f105"; }
.flaticon-calendar:before { content: "\f106"; }
.flaticon-camcorder:before { content: "\f107"; }
.flaticon-candle:before { content: "\f108"; }
.flaticon-champagne:before { content: "\f109"; }
.flaticon-champagne-1:before { content: "\f10a"; }
.flaticon-clown:before { content: "\f10b"; }
.flaticon-cocktail:before { content: "\f10c"; }
.flaticon-confetti:before { content: "\f10d"; }
.flaticon-crown:before { content: "\f10e"; }
.flaticon-cupcake:before { content: "\f10f"; }
.flaticon-dinner:before { content: "\f110"; }
.flaticon-disco-ball:before { content: "\f111"; }
.flaticon-dress:before { content: "\f112"; }
.flaticon-drum:before { content: "\f113"; }
.flaticon-eye-mask:before { content: "\f114"; }
.flaticon-fireworks:before { content: "\f115"; }
.flaticon-flags:before { content: "\f116"; }
.flaticon-flowers:before { content: "\f117"; }
.flaticon-gamepad:before { content: "\f118"; }
.flaticon-gift:before { content: "\f119"; }
.flaticon-girl:before { content: "\f11a"; }
.flaticon-glasses:before { content: "\f11b"; }
.flaticon-guitar:before { content: "\f11c"; }
.flaticon-hat:before { content: "\f11d"; }
.flaticon-ice-cream:before { content: "\f11e"; }
.flaticon-invitation:before { content: "\f11f"; }
.flaticon-karaoke:before { content: "\f120"; }
.flaticon-keyboard:before { content: "\f121"; }
.flaticon-magic-wand:before { content: "\f122"; }
.flaticon-megaphone:before { content: "\f123"; }
.flaticon-mixer:before { content: "\f124"; }
.flaticon-musical-note:before { content: "\f125"; }
.flaticon-mustache:before { content: "\f126"; }
.flaticon-party-blower:before { content: "\f127"; }
.flaticon-pastry-cream:before { content: "\f128"; }
.flaticon-photo-camera:before { content: "\f129"; }
.flaticon-pizza:before { content: "\f12a"; }
.flaticon-soft-drink:before { content: "\f12b"; }
.flaticon-sparkler:before { content: "\f12c"; }
.flaticon-speaker:before { content: "\f12d"; }
.flaticon-suit:before { content: "\f12e"; }
.flaticon-sunglasses:before { content: "\f12f"; }
.flaticon-trumpet:before { content: "\f130"; }
.flaticon-turntable:before { content: "\f131"; }
    
    $font-Flaticon-balloons: "\f100";
    $font-Flaticon-beer: "\f101";
    $font-Flaticon-bell: "\f102";
    $font-Flaticon-boy: "\f103";
    $font-Flaticon-bubbles: "\f104";
    $font-Flaticon-cake: "\f105";
    $font-Flaticon-calendar: "\f106";
    $font-Flaticon-camcorder: "\f107";
    $font-Flaticon-candle: "\f108";
    $font-Flaticon-champagne: "\f109";
    $font-Flaticon-champagne-1: "\f10a";
    $font-Flaticon-clown: "\f10b";
    $font-Flaticon-cocktail: "\f10c";
    $font-Flaticon-confetti: "\f10d";
    $font-Flaticon-crown: "\f10e";
    $font-Flaticon-cupcake: "\f10f";
    $font-Flaticon-dinner: "\f110";
    $font-Flaticon-disco-ball: "\f111";
    $font-Flaticon-dress: "\f112";
    $font-Flaticon-drum: "\f113";
    $font-Flaticon-eye-mask: "\f114";
    $font-Flaticon-fireworks: "\f115";
    $font-Flaticon-flags: "\f116";
    $font-Flaticon-flowers: "\f117";
    $font-Flaticon-gamepad: "\f118";
    $font-Flaticon-gift: "\f119";
    $font-Flaticon-girl: "\f11a";
    $font-Flaticon-glasses: "\f11b";
    $font-Flaticon-guitar: "\f11c";
    $font-Flaticon-hat: "\f11d";
    $font-Flaticon-ice-cream: "\f11e";
    $font-Flaticon-invitation: "\f11f";
    $font-Flaticon-karaoke: "\f120";
    $font-Flaticon-keyboard: "\f121";
    $font-Flaticon-magic-wand: "\f122";
    $font-Flaticon-megaphone: "\f123";
    $font-Flaticon-mixer: "\f124";
    $font-Flaticon-musical-note: "\f125";
    $font-Flaticon-mustache: "\f126";
    $font-Flaticon-party-blower: "\f127";
    $font-Flaticon-pastry-cream: "\f128";
    $font-Flaticon-photo-camera: "\f129";
    $font-Flaticon-pizza: "\f12a";
    $font-Flaticon-soft-drink: "\f12b";
    $font-Flaticon-sparkler: "\f12c";
    $font-Flaticon-speaker: "\f12d";
    $font-Flaticon-suit: "\f12e";
    $font-Flaticon-sunglasses: "\f12f";
    $font-Flaticon-trumpet: "\f130";
    $font-Flaticon-turntable: "\f131";