    /*
    Flaticon icon font: Flaticon
    Creation date: 18/03/2016 12:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-aerial-tramway:before { content: "\f100"; }
.flaticon-aeroplane:before { content: "\f101"; }
.flaticon-airplane:before { content: "\f102"; }
.flaticon-auto-ricksaw:before { content: "\f103"; }
.flaticon-beetle:before { content: "\f104"; }
.flaticon-bike:before { content: "\f105"; }
.flaticon-boat:before { content: "\f106"; }
.flaticon-boat-1:before { content: "\f107"; }
.flaticon-boat-2:before { content: "\f108"; }
.flaticon-bus:before { content: "\f109"; }
.flaticon-car:before { content: "\f10a"; }
.flaticon-catamaran:before { content: "\f10b"; }
.flaticon-chairlift:before { content: "\f10c"; }
.flaticon-classic-car:before { content: "\f10d"; }
.flaticon-double-decker-bus:before { content: "\f10e"; }
.flaticon-helicopter:before { content: "\f10f"; }
.flaticon-hot-air-balloon:before { content: "\f110"; }
.flaticon-house-boat:before { content: "\f111"; }
.flaticon-jeep:before { content: "\f112"; }
.flaticon-jet-boating:before { content: "\f113"; }
.flaticon-locomotive:before { content: "\f114"; }
.flaticon-lorry:before { content: "\f115"; }
.flaticon-minibus:before { content: "\f116"; }
.flaticon-minivan:before { content: "\f117"; }
.flaticon-minivan-taxi:before { content: "\f118"; }
.flaticon-monorail:before { content: "\f119"; }
.flaticon-motorbike:before { content: "\f11a"; }
.flaticon-quad:before { content: "\f11b"; }
.flaticon-sailboat:before { content: "\f11c"; }
.flaticon-sailing-ship:before { content: "\f11d"; }
.flaticon-school-bus:before { content: "\f11e"; }
.flaticon-sidecar:before { content: "\f11f"; }
.flaticon-spaceship:before { content: "\f120"; }
.flaticon-sport-car:before { content: "\f121"; }
.flaticon-station-wagon:before { content: "\f122"; }
.flaticon-submarine:before { content: "\f123"; }
.flaticon-taxi:before { content: "\f124"; }
.flaticon-tractor:before { content: "\f125"; }
.flaticon-train:before { content: "\f126"; }
.flaticon-train-1:before { content: "\f127"; }
.flaticon-train-2:before { content: "\f128"; }
.flaticon-tram:before { content: "\f129"; }
.flaticon-tricycle:before { content: "\f12a"; }
.flaticon-trolleybus:before { content: "\f12b"; }
.flaticon-truck:before { content: "\f12c"; }
.flaticon-ufo:before { content: "\f12d"; }
.flaticon-underground:before { content: "\f12e"; }
.flaticon-van:before { content: "\f12f"; }
.flaticon-volskwagen-van:before { content: "\f130"; }
.flaticon-zeppelin:before { content: "\f131"; }
    
    $font-Flaticon-aerial-tramway: "\f100";
    $font-Flaticon-aeroplane: "\f101";
    $font-Flaticon-airplane: "\f102";
    $font-Flaticon-auto-ricksaw: "\f103";
    $font-Flaticon-beetle: "\f104";
    $font-Flaticon-bike: "\f105";
    $font-Flaticon-boat: "\f106";
    $font-Flaticon-boat-1: "\f107";
    $font-Flaticon-boat-2: "\f108";
    $font-Flaticon-bus: "\f109";
    $font-Flaticon-car: "\f10a";
    $font-Flaticon-catamaran: "\f10b";
    $font-Flaticon-chairlift: "\f10c";
    $font-Flaticon-classic-car: "\f10d";
    $font-Flaticon-double-decker-bus: "\f10e";
    $font-Flaticon-helicopter: "\f10f";
    $font-Flaticon-hot-air-balloon: "\f110";
    $font-Flaticon-house-boat: "\f111";
    $font-Flaticon-jeep: "\f112";
    $font-Flaticon-jet-boating: "\f113";
    $font-Flaticon-locomotive: "\f114";
    $font-Flaticon-lorry: "\f115";
    $font-Flaticon-minibus: "\f116";
    $font-Flaticon-minivan: "\f117";
    $font-Flaticon-minivan-taxi: "\f118";
    $font-Flaticon-monorail: "\f119";
    $font-Flaticon-motorbike: "\f11a";
    $font-Flaticon-quad: "\f11b";
    $font-Flaticon-sailboat: "\f11c";
    $font-Flaticon-sailing-ship: "\f11d";
    $font-Flaticon-school-bus: "\f11e";
    $font-Flaticon-sidecar: "\f11f";
    $font-Flaticon-spaceship: "\f120";
    $font-Flaticon-sport-car: "\f121";
    $font-Flaticon-station-wagon: "\f122";
    $font-Flaticon-submarine: "\f123";
    $font-Flaticon-taxi: "\f124";
    $font-Flaticon-tractor: "\f125";
    $font-Flaticon-train: "\f126";
    $font-Flaticon-train-1: "\f127";
    $font-Flaticon-train-2: "\f128";
    $font-Flaticon-tram: "\f129";
    $font-Flaticon-tricycle: "\f12a";
    $font-Flaticon-trolleybus: "\f12b";
    $font-Flaticon-truck: "\f12c";
    $font-Flaticon-ufo: "\f12d";
    $font-Flaticon-underground: "\f12e";
    $font-Flaticon-van: "\f12f";
    $font-Flaticon-volskwagen-van: "\f130";
    $font-Flaticon-zeppelin: "\f131";